@use 'sass:color';
@use './var' as v;

.icon {
	font-family: 'Material Symbols Outlined';
	font-size: 1.5rem;
	font-weight: normal;
	font-style: normal;
}

header {
	color: v.$headerColor;
	height: v.$headerHeight;
	background: v.$headerBgColor;
	border: v.$headerBorder;
	#header-left {
		padding-left: v.$headerPaddingLeft;
		margin-right: auto;
	}
	#header-right {
		padding-right: v.$headerPaddingRight;
		margin-left: auto;
		margin-top: 9px;
	}
	#logo {
		vertical-align: middle;
		width: v.$headerLogoWidth;
		height: v.$headerLogoHeight;
	}
	.header-icon {
		margin: v.$headerIconMargin;
		cursor: pointer;
		user-select: none;
		vertical-align: top;
		text-decoration: none;
		&.active {
			font-weight: bold;
		}
	}
	a {
		text-decoration: none;
		color: v.$headerColor;
		&:hover {
			color: color.adjust(v.$headerColor, $lightness: -10%, $space: hsl)
		}
		&.active {
			color: v.$headerColor;
		}
	}
}

body {
	color: v.$color;
	background: v.$bgColor;
	min-width: 480px;
}

a {
	text-decoration: none;
	color: v.$color;
	&:hover {
		color: color.adjust(v.$color, $lightness: 80%, $space: hsl)
	}
	&.active {
		color: v.$color;
	}
	> i {
		vertical-align: middle;
	} 
}

.error {
	color: v.$errorColor;
	font-weight: bold;
}

#body {
	height: calc(100vh - v.$headerHeight);
	#menu {
		z-index: 65536;
		width: v.$menuWidth;
		height: calc(100vh - v.$headerHeight);
		left: calc(v.$menuWidth * -1);
		color: v.$menuColor;
		background: v.$menuBgColor;
		border: v.$menuBorder;
		transition: all 200ms 0s ease;
		position: fixed;
		overflow-y: auto;
		&.open { left: 0; }
		.item {
			&.open > .label {
				background: v.$menuActiveColor;
			}
			cursor: pointer;
			user-select: none;
			.label {
				display: flex;
				padding: 1em 0;
				border-bottom: 1px solid v.$color;
				align-items: center;
				:first-child {
					margin-right: .2rem;
				}
				&:hover {
					background: v.$menuHoverColor;
				}
				padding-left: 1rem;
				.sub-icon {
					margin-left: auto;
					padding-right: .5rem;
					&::after {
						content: 'chevron_right';
					}
					&.open {
						&::after {
							content: 'chevron_left';
						}
					}
				}
			}
			.c-sub-item {
				display: none;
				&.open {
					display: block;
				}
			}
		}
		.active {
			background: v.$subMenuActiveColor;
		}
	}
	main {
		flex: 1;
		color: v.$color;
		background: v.$bgColor;
		padding: 1rem;
		overflow-y: auto;
	}
	#menu-right {
		z-index: 65536;
		top: calc(v.$headerHeight + 20px);
		right: 28px;
		width: v.$menuRightWidth;
		max-height: 80vh;
		position: absolute;
		color: v.$menuRightColor;
		background: v.$menuRightBgColor;
		border: v.$menuRightBorder;
		border-radius: v.$menuRightBorderRadius;
		overflow-y: auto;
		display: none;
		&.open { display: block; }
		.item {
			padding: .8rem 1rem;
			cursor: pointer;
			user-select: none;
			.label {
				display: flex;
				align-items: center;
				:first-child {
					margin-right: .2rem;
				}
			}
			&:hover {
				background: v.$menuRightHoverColor;
			}
		}
		hr {
			margin: 0 .5rem;
			size: 1px;
		}
	}
}

#modal-bg {
	z-index: 65535;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: none;
	cursor: pointer;
	&.on {
		display: block;
	}
}

.circle-icon {
	width: 24px;
	height: 24px;
	background: #ccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
}

.badge {
	position: relative;
	display: inline-block;
	user-select: none;
	.count {
		position: absolute;
		top: -5px;
		right: -5px;
		font-size: 6px;
		padding: 2px 5px;
		border-radius: 50%;
		background: red;
	}
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		width: 14px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 10px;
		border: 4px solid transparent;
		background-clip: padding-box;
	}
}

.box {
	@include scrollbar;
	padding: .5rem;
	border-radius: .5rem;
	word-break: break-all;
	overflow-y: scroll;
	min-height: 0;
	border: 1px solid v.$color;
}

@mixin iconText {
	padding: 0 1rem;
	margin: .2rem;
	border-radius: 5px;
	line-height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	user-select: none;
}

button,input[type='button'],input[type='submit'] {
	@include iconText;
	display: inline-flex;
	justify-content: center;
	gap: .2rem;
	cursor: pointer;
	background: #6495ed;
	&.primary {
		background: #3cb371;
	}
	&.secondary {
		background: #808080;
	}
}

@mixin cardHF {
	@include iconText;
	position: relative;
	padding: 0 2rem;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	.left, .right {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		.icon {
			top: 0;
			margin: 0;
		}
	}
	.left {
		left: .4rem;
	}
	.right {
		right: .4rem;
		.icon {
			cursor: pointer;
		}
	}
	> :not(.left):not(.right) {
		vertical-align: middle;
	}
}

.card {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 0;
	border: 1px solid v.$color;
	border-radius: .5rem;
	background: v.$bgColor;
	.header { @include cardHF; }
	.body {
		@include scrollbar;
		padding-left: .5rem;
		overflow-y: scroll;
		word-break: break-all;
		max-height: 50vh;
	}
	.footer { @include cardHF; }
}

.card-full {
	@extend .card;
	height: 100%;
	width: 100%;
	.body {
		max-height: 100vh;
	}
}

.g {
	display: grid;
	gap: .5rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 400px;
}

.border {
	border: solid #f00 1px;
}

form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	@extend .form-preview;
	input, textarea {
		font-size: 1rem;
		padding: .5rem;
		background: v.$color;
		color: v.$bgColor;
		border-radius: 5px;
		user-select: none;
		&[type='radio'], &[type='checkbox'] {
			margin: 0 .5rem;
		}
	}
	select { margin-bottom: 1rem; }
	.f { margin-bottom: 1rem; }
	&.search {
		input, textarea {
			padding: .2rem .5rem;
			margin: 0 .2rem;
		}
		button,input[type='button'],input[type='submit'] {
			padding: .2rem 1rem;
			margin: 0 .2rem;
			height: 31px;
		}
	}
}

.form-preview {
	.label {
		color: v.$color;
		font-weight: bold;
		&:not(:first-child) {
			margin-top: 1rem;
		}
		span.required {
			padding-left: .25rem;
			color: red;
		}
	}
	.value {
		padding-left: 2rem;
	}
}

input {
	accent-color: v.$bgColor;
}

button, input, textarea, .body {
  &:focus-visible {
    outline: 2px solid v.$focusColor;
    outline-offset: -2px;
  }
}

.table {
	border-collapse: collapse;
	th {
		cursor: pointer;
		user-select: none;
	}
	th, td {
		border: solid 1px;
		padding: .1rem .5rem;
	}
}

.fixed-table {
	overflow: auto;
	width: 100%;
	height: calc(100vh - 140px);
	table {
		border-spacing: 0;
		tr:first-child th {
			border-top: 1px solid v.$color;
			border-bottom: 1px solid v.$color;
			&:first-child { z-index: 1 }
		}
		tr:not(:nth-child(2)) {
			th, td {
				border-top: 1px solid v.$color;
			}
		}
		tr:last-child {
			th, td {
				border-bottom: 1px solid v.$color;
			}
		}
		th, td {
			white-space: nowrap;
			padding: 4px 8px;
			background: #000;
			border-right: 1px solid v.$color;
		}
		th {
			position: sticky;
			top: 0;
			left: 0;
			&:first-child {
				border-left: 1px solid v.$color;
			}
		}
	}
}

.header-fixed-table {
	overflow: auto;
	width: 100%;
	height: 380px;
	height: calc(100vh - 140px);
	table {
		border-spacing: 0;
		th {
			position: sticky;
			top: 0;
			border-top: 1px solid v.$color;
			border-bottom: 1px solid v.$color;
		}
		th, td {
			white-space: nowrap;
			padding: 4px 8px;
			background: #000;
			border-right: 1px solid v.$color;
			&:first-child {
				border-left: 1px solid v.$color;
			}
		}
		td {
			border-bottom: 1px solid v.$color;
		}
	}
}

#notice-modal {
	color: v.$color;
	background: v.$bgColor;
}
