doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(href='/favicon.ico' rel='icon')
		link(href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone' rel='stylesheet')
		script(src='https://code.jquery.com/jquery-4.0.0.min.js')
		script(src='/js/main.min.js')
		link(href='/css/fw.min.css' rel='stylesheet')
		link(href='/css/main.min.css' rel='stylesheet')
		link(href='/css/form.min.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0' rel='stylesheet')
		block vars
			- const title = '-'
		block head
		title #{title}
	body
		block body
