extends ./_layout/main.pug
block vars
	- const title = 'CARD'
block contents
	// - const type = 'card-full'
	- const type = 'card'
	if type == 'card-full'
		.fm.fac.h100
			.card-full
				.header
					.left
						span.icon share
					span.icon person
					span= 'HEADER'.repeat(10)
					.right
						span.icon key_vertical
				.body
					p= '0123456789'.repeat(500)
				.footer FOOTER
	else if type == 'card'
		.fm.fac.h100
			.card.w30(style='--height: 400px')
				.header
					.left
						span.icon share
					span.icon person
					span= 'HEADER'.repeat(10)
					.right
						span.icon key_vertical
				.body
					button HOGE
					p= '0123456789'.repeat(500)
				.footer FOOTER
	-
	style
		:scss
