extends ./_layout/navi.pug
block vars
	- const title = 'DIALOG'
block contents
	.fc
		#g-dir
			.h10
				button.primary#open
					span.icon launch
					span OPEN
			each _ in Array(20)
				.h10
					button.primary.open-sticky-dialog
						span.icon launch
						span OPEN
		dialog#dialog.vw30(autofocus)
			.card.vh30
				.header
					span.icon person
					span= 'INFO'.repeat(10)
					.right
						span.close.icon close
				.body(tabindex='-1')
					p= '0123456789'.repeat(500)
				.footer
					button.primary.close(autofocus) CLOSE
	script.
		const d = console.log
		const $dialog = $('#dialog')
		$('#open').click(() => {
			$dialog.removeClass('sticky-dialog')
			$dialog[0].showModal();
			$dialog[0].blur()
		})
		$('.open-sticky-dialog').click(e => {
			$('.dialog-anchor').removeClass('dialog-anchor') 
			$(e.currentTarget).addClass('dialog-anchor')
			$dialog.addClass('sticky-dialog')
			$dialog[0].showModal();
		})
		$('.close').click(() => {
			$dialog[0].close()
		})
		$('dialog').click(function(e) {
			if (e.target === this) { this.close() }
		})
	style
		:scss
			#g-dir {
				display: grid;
				justify-items: center;
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: 1fr;
				width: 100%;
				height: 200vh;
				gap: 0.5rem;
				padding: 0.5rem;
				overflow-y: auto;
				& > :nth-child(3n+1) { justify-self: start; }
				& > :nth-child(3n)	 { justify-self: end; }
			}
			#dialog {
				margin: auto;
				.body {
					&:focus { outline: none; }
				}
				&::backdrop {
					background: rgba(0, 0, 0, 0.6);
				}
			}
			.sticky-dialog {
				position: fixed;
				max-width: 90vw;
				max-height: 80vh;
				margin: 10px 0 !important;
				position-anchor: --anchor;
				position-area: bottom span-right;
				position-try-fallbacks: bottom span-left, top span-left;
			}
			.dialog-anchor {
				anchor-name: --anchor
			}
