extends ./_layout/navi.pug
block vars
	- const title = 'DIALOG'
block contents
	.fc
		button.primary#open
			span.icon launch
			span OPEN
		dialog#dialog.vw30(autofocus)
			.card.vh30
				.header
					span.icon person
					span= 'INFO'.repeat(10)
					.right
						span.close.icon close
				.body
					p= '0123456789'.repeat(500)
				.footer
					button.primary.close CLOSE
	script.
		const d = console.log
		const $open = $('#open')
		const $close = $('.close')
		const $dialog = $('#dialog')

		$open.click(() => {
			$dialog[0].showModal()
		})

		$close.click(() => {
			$dialog[0].close()
		})

		$dialog[0].showModal()

	style
		:scss
			dialog {
				margin: auto;
				inset: 0;
				padding: 0 !important;
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
				background: transparent;
				&:focus {
					outline: none !important;
					box-shadow: none !important;
				}
				&:focus-visible {
					outline: none !important;
					box-shadow: none !important;
				}
				.card {
					border: none;
				}
				&::backdrop {
					background: rgba(0, 0, 0, .5);
				}
			}
