extends ./_layout/base.pug
block vars
	- const title = 'テスト'
block body
	header ヘッダー
		button#nav-toggle メニュー開閉
	#container
		nav メニュー
		main
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ
			p コンテンツ終端
	script.
		let navCollapse = false
		$('#nav-toggle').click(function() {
			navCollapse = !navCollapse
			let navWidth = navCollapse ? 100 : 280;
			$('nav').css({
				width: navWidth
			})
			return false
		})
	style.
		:root {
			--headerHeight: 60px;
			--navWidth: 280px;
		}
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body {
			display: flex;
			height: 100vh;
			flex-direction: column;
		}
		header {
			min-height: var(--headerHeight);
			background-color: lightcyan;
			box-sizing: border-box;
			border: 8px solid blue;
		}
		#container {
			display: flex;
			height: calc(100vh - var(--headerHeight));
		}
		nav {
			width: var(--navWidth);
			background-color: moccasin;
			box-sizing: border-box;
			border: 8px solid chocolate;
		}
		main {
			flex: 1;
			overflow-y: auto;
			background-color: palegoldenrod;
			box-sizing: border-box;
			border: 8px solid green;
		}
