extends ./_layout/navi.pug
block vars
	- const title = 'GRID'
block contents
	.f.fw
		.box.f-sm-6.f-md-4.f-lg-3  A
		.box.f-sm-6.f-md-4.f-lg-3  B
		.box.f-sm-6.f-md-4.f-lg-3  C
		.box.f-sm-6.f-md-4.f-lg-3  D
		.box.f-sm-6.f-md-4.f-lg-3  E
		.box.f-sm-6.f-md-4.f-lg-3  F
		.box.f-sm-6.f-md-4.f-lg-3  G
	style.
		.box {
			flex-basis: 100%;
		}
