extends ./_layout/navi.pug
block vars
	- const title = 'GRID'
block contents
	.f.fw
		.box.f-sm-6.f-md-4.f-lg-3  A
		.box.f-sm-6.f-md-4.f-lg-3  B
		.box.f-sm-6.f-md-4.f-lg-3  C
		.box.f-sm-6.f-md-4.f-lg-3  D
		.box.f-sm-6.f-md-4.f-lg-3  E
		.box.f-sm-6.f-md-4.f-lg-3  F
		.box.f-sm-6.f-md-4.f-lg-3  G
	.f.fw
		.card.f-sm-6.f-md-4.f-lg-3
			.header
				.left
					span.material-symbols-outlined share
				span.material-symbols-outlined person
				| CARD 1
				.right
					span.material-symbols-outlined key_vertical
			.body.sc
				p 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
		.card.f-sm-6.f-md-4.f-lg-3
			.header CARD 
			.body
				p DATA
		.card.f-sm-6.f-md-4.f-lg-3
			.header CARD 
			.body
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
				p DATA DATA
	style.
		.box {
			flex-basis: 100%;
		}
