extends ./_layout/base.pug
block vars
	- const title = 'テスト'
block body
	header ヘッダー
		button#nav-toggle メニュー開閉
	nav メニュー
	main
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
		p コンテンツ
	script.
		let navCollapse = false
		$('#nav-toggle').click(function() {
			navCollapse = !navCollapse
			let navWidth = navCollapse ? 100 : 280;
			$('body').css({
				'grid-template-columns': `${navWidth}px 1fr`
			})
			return false
		})
	style.
		:root {
			--headerHeight: 60px;
			--navWidth: 280px;
		}
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body {
			display: grid;
			height: 100vh;
			grid-template-rows: var(--headerHeight) 1fr;
			grid-template-columns: var(--navWidth) 1fr;
			grid-template-areas:
				'header header'
				'nav main';
		}
		header {
			grid-area: header;
			background-color: lightcyan;
			box-sizing: border-box;
			border: 8px solid blue;
		}
		nav {
			grid-area: nav;
			margin: 0;
			background-color: moccasin;
			box-sizing: border-box;
			border: 8px solid chocolate;
		}
		main {
			grid-area: main;
			overflow-y: auto;
			background-color: palegoldenrod;
			box-sizing: border-box;
			border: 8px solid green;
		}
