extends ./_layout/main.pug
block vars
	- const title = 'INDEX'
block contents
	span.icon home
	span.icon menu
	span.icon chevron_right
	span.icon chevron_left
	span.icon expand_more
	span.icon expand_less
	span.icon more_vert
	span.icon login
	span.icon logout
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„çµ‚ç«¯
