extends ./_layout/navi.pug
block vars
	- const title = 'INDEX'
block contents
	span.material-symbols-outlined home
	span.material-symbols-outlined menu
	span.material-symbols-outlined chevron_right
	span.material-symbols-outlined chevron_left
	span.material-symbols-outlined expand_more
	span.material-symbols-outlined expand_less
	span.material-symbols-outlined more_vert
	span.material-symbols-outlined login
	span.material-symbols-outlined logout
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„
	p ă‚³ăƒ³ăƒ†ăƒ³ăƒ„çµ‚ç«¯
