extends ./_layout/base.pug
block vars
	- const title = 'LOGIN'
block body
	.fm.fac.vh100
		.card.w80
			.header LOGIN
			.body
				form
					.label User ID
					input(name='userid' placeholder='User ID')
					.label Password
					input(name='password' placeholder='Password')
					.fc.mt-3
						button.primary LOGIN
