extends ./_layout/base.pug
block head
	link(href='/css/fw.min.css' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0' rel='stylesheet')
block vars
	- const title = 'NAVI'
block body
	#modal-bg
	.fv
		header.f-m.pt-2
			#header-left.f
				a(href='').header-icon
					span#menu-button.material-symbols-outlined menu
				a(href='/').header-icon
					img#logo(src='/favicon.ico')
				a(href='/').header-icon
					span.material-symbols-outlined home
				a(href='/index.html').header-icon
					span Index
			#header-right.f
				.header-icon.circle-icon H
				a(href='').header-icon
					span#menu-right-button.material-symbols-outlined more_vert
		#body.f
			#menu
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
				p メニュー
			main
				span.material-symbols-outlined home
				span.material-symbols-outlined menu
				span.material-symbols-outlined chevron_right
				span.material-symbols-outlined chevron_left
				span.material-symbols-outlined expand_more
				span.material-symbols-outlined expand_less
				span.material-symbols-outlined more_vert
				span.material-symbols-outlined login
				span.material-symbols-outlined logout
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ
				p コンテンツ終端
			#menu-right
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
				p 右メニュー
	script.
		let menu = false
		let menuRight = false
		const modalBgFunc = (close) => {
			return (flag=true) => {
				if (flag) {
					$('#modal-bg').addClass('on')
				}
				else {
					$('#modal-bg').removeClass('on')
					$('.open').removeClass('open')
					close()
				}
			}
		}
		const menuModalBg = modalBgFunc(() => {
			menu = false
			menuRight = false
		})
		$('#modal-bg').click(function() { menuModalBg(false) })
		$('#menu-button').click(function() {
			menu = !menu
			if (menu) {
				$('#menu').addClass('open')
				menuModalBg()
			}
			return false
		})
		$('#menu-right-button').click(function() {
			menuRight = !menuRight
			if (menuRight) {
				$('#menu-right').addClass('open')
				menuModalBg()
			}
			return false
		})
